.container {
  margin: auto;
  width: 80%;
  margin-bottom: 5%;
  z-index: 1000;
}
.launch_card {
  width: 28%;
  height: 350px;
  margin: auto;
  padding: 40px 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.title {
  text-transform: uppercase;
  color: midnightblue;
}
.subtitle {
  font-weight: lighter;

}
.success {

}
.description {
  font-weight: lighter;


}
.link_video {
  font-weight: lighter;


}